:root {
	--black :#000;
	--grey: #ccc;
	--green: #00cc00;
}

body {
	background-color: var(--black);
	color: var(--grey);
	font-family: "Source Code Pro", monospace;
}

h3 {
	color: var(--green);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}