/*
    reset styles
*/

  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,400&family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --font-family: 'Source Code Pro', monospace;
    --bg-color: #0F0f23;
    --grey: #cccccc;
    --green: #009900;
    --gold: #ffff66;
}

body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body {
    background: var(--bg-color);
}


h1 {
    grid-column: span 2;
    text-align: center;
}

h3 {
    color: var(--green)
}

a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--green)
}

a:hover, a:focus {
    color: #99ff99;
}
