
.cards__container {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}


.card {
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    overflow-y: hidden;
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #888;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid var(--grey);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.card:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    /* border-top: none;
    border-bottom: none; */
    box-shadow:
        0px 15px var(--grey),
        0px -15px var(--grey)
        /* 6px -6px var(--grey),
        -6px 6px var(--grey),
        -6px -6px var(--grey); */
}

.card-active {
    border-top: 10px solid var(--green);
    border-bottom: 10px solid var(--green);
}
    
.card-active:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    box-shadow: none;
}

/* Thumb */
.card::-moz-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

/* Track */
.card::-moz-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.card,
button {
    cursor: pointer;
    align-items: center;
}

.card-button {
    display: flex;
    min-width: 50px;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    align-self: flex-start;
}
.card-button button {
    width: 100%;
    padding: 1rem;
}


.card-button button:hover {
    background-color: var(--green);
    color: #FFF;
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
.card::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}
  
.card::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background color of the scrollbar track */
    border-radius: 4px; /* Border radius of the scrollbar track */
}

.card::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius of the scrollbar thumb */
}

textarea {
    background: transparent;
    /* color: #bdc1a1; */
    margin-top: 50px;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    /* min-width: 280px; */
    border-radius: 10px;
    overflow: auto;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
}

.modal__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal__container button {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 0px;
}

.modal__button-container {
    position: relative;
}


.submit {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 20px;
}

.submit button {
    position: relative;
    width: 200px;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    /* padding: 1rem 0;
     */
    padding: 20px 30px;
    text-transform: uppercase;
    display: block;
    transition: background-color 0.4s;
}

.submit button::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent );
    transform: translateX(2px) skew(-20deg);
    transition: transform 0.4s ;
}

/* .submit button:hover::before {
    transform: translateX(45px);
} */
.submit button:hover {
    border: 1px solid var(--green);
    background: transparent;
    color: var(--grey);
    /* box-shadow: 
    5px 5px 5px var(--green),
    5px -5px 5px var(--green),
    -5px 5px 5px var(--green),
    -5px -5px 5px var(--green); */
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s; */
}

table {
    width: 80%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

.questions_results_container {
    display: flex;
}

.questions {
    width: 60%;
    border-right: 1px solid var(--grey);
}

.results {
    width: 30%;
}

.questions,
.results {
    padding: 10px;
}

article em,
em.ans
{
    color: #ffffff;
    font-style: normal;
    text-shadow: 0 0 5px #ffffff;
}

article em.star {
    color: var(--gold);
    font-style: normal;
    text-shadow: 0 0 5px var(--gold);
}


.d1,
.d2,
.d3,
.d4,
.d5,
.d6,
.d7
{
    background-color: var(--green);
    color: var(--grey);
}

.save-icon {
    color: var(--green);
}

.close-icon {
    color: rgb(235, 108, 97);
}